extends layout

block content

    header.masthead
        .container.d-flex.h-100.align-items-center
            .mx-auto.text-center
                h1.mx-auto.my-0.text-uppercase Bicicletas_Red
                h2.text-white-50.mx-auto.mt-2.mb-5 Una red de bicicletas gratuitas.
                a.btn.btn-primary.js-scroll-trigger(href='#about') Inicio

    // Maps
    section#projects.projects-section.bg-light
        .container
            // Featured Project Row
            .row.align-items-center.no-gutters.mb-4.mb-lg-5
                .col-xl-8.col-lg-7
                    #map-template
    // Signup
    section#signup.signup-section
        .container
            .row
                .col-md-10.col-lg-8.mx-auto.text-center
                    i.far.fa-paper-plane.fa-2x.mb-2.text-white
                    h2.text-white.mb-5 Si quieres más información, ingresa tus datos y oprime el botón enviar datos.
                    form.form-inline.d-flex
                        input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Enter email address...')
                        button.btn.btn-primary.mx-auto(type='submit') Enviar Datos

    // Contact
    section.contact-section.bg-black
        .container
            .row
                .col-md-4.mb-3.mb-md-0
                    .card.py-4.h-100
                        .card-body.text-center
                            i.fas.fa-map-marked-alt.text-primary.mb-2
                            h4.text-uppercase.m-0 Dirección
                            hr.my-4
                            .small.text-black-50 123 Fake Street, Bogotá
                .col-md-4.mb-3.mb-md-0
                    .card.py-4.h-100
                        .card-body.text-center
                            i.fas.fa-envelope.text-primary.mb-2
                            h4.text-uppercase.m-0 Email
                            hr.my-4
                            .small.text-black-50
                                a(href='#!') domdomain@tudominio.com
                .col-md-4.mb-3.mb-md-0
                    .card.py-4.h-100
                        .card-body.text-center
                            i.fas.fa-mobile-alt.text-primary.mb-2
                            h4.text-uppercase.m-0 Teléfono
                            hr.my-4
                            .small.text-black-50 (571) 666-3690
            .social.d-flex.justify-content-center
                a.mx-2(href='#!')
                    i.fab.fa-twitter
                a.mx-2(href='#!')
                    i.fab.fa-facebook-f
                a.mx-2(href='#!')
                    i.fab.fa-github

    // Footer
    footer.footer.bg-black.small.text-center.text-white-50
        .container
            | Copyright © Your Web Site 2020


    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(defer='' src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')

    // Core theme JS
    script(src='/javascripts/scripts.js')
    script(defer='' src='/javascripts/maps.js')
