#map-template {
    width: 84vw;
    height: 60vh;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: gold;
    border-radius: 80%;
    display: inline-block;
}

.route-items {
    position: relative;
    right: 0;
    left: 0;
}