extends ../layout

block content
   
    .container
        .row.h-100.justify-content-center.align-items-center
            .col-md-6.col-md-offset-3
                h1 Vista Completa
                form(action=`/bicicletas`)
                    .form-group
                        label.bg-info.col-form-label.form-control(for='id') ID:
                        input#id.form-control(type='text' name='id' value=bici.id )
                    .form-group    
                        label.bg-info.col-form-label.form-control(for='color') Color:
                        input#color.form-control(type='text' name='color' value=bici.color)
                    .form-group    
                        label.bg-info.col-form-label.form-control(for='modelo') Modelo:
                        input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                    .form-group    
                        label.bg-info.col-form-label.form-control(for='lat') Latitud:
                        input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                    .form-group
                        label.bg-info.col-form-label.form-control(for='lng') Longitud:
                        input#lng.form-control(type='text' name='lng' value=bici.ubicacion[0])
                        br  