extends ../layout

block content

  
    br
   
    br
    
    table.table
        thead 
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col') Información
                th(scope='col') Editar
                th(scope='col') Borrar
        tbody
        each bici in bicis
            tr  
                td(scope='row')
                    = bici.id
                td=bici.color
                td=bici.modelo
                td=bici.ubicacion
                td
                    a(href='bicicletas/'+bici.id+'/datos') Información
                td
                    a(href='bicicletas/'+bici.id+'/update') Editar
                td
                    form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                        input(type='hidden' name='id' value=bici.id)
                        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')  Eliminar
